<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming E-commerce</title>
    <link rel="stylesheet" href="../Public/css/style.css">
    <script src="https://kit.fontawesome.com/e127d7dc14.js" crossorigin="anonymous"></script>
</head>
<body>
 

<section id="header">
        <a href="#"><img src="../Public/images/logo.png" class="logo" alt="No Image Found"></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="index.html">Home</a></li>
                <li><a href="shop.html">Shop</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="login.html">Log In</a></li>
                <li><a href="Signup.html">Sign Up</a></li>
                <li><a href="cart.html"><i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </div>

</section>

<section id="hero" >
     <h4>Stock clearance sale</h4> 
     <h2>Crazy deals</h2>
     <h1>Ends tonight!</h1>
     <p>upto 70% off!</p>
     <button>Shop now</button>
</section>

<section id="feature" class="section-p1">
    <div class="fe-box">
        <img src="../Public/images/shipping.png" alt="">
        <h6>Free Shipping</h6>
    </div>
    <div class="fe-box">
        <img src="../Public/images/shipping.png" alt="">
        <h6>Save Money</h6>
    </div>
    <div class="fe-box">
        <img src="../Public/images/shipping.png" alt="">
        <h6>Promotions</h6>
    </div>
    <div class="fe-box">
        <img src="../Public/images/shipping.png" alt="">
        <h6>Happy Sell</h6>
    </div>
    <div class="fe-box">
        <img src="../Public/images/shipping.png" alt="">
        <h6>24/7 Customer support</h6>
    </div>
</section>

<section id="product1" class="section-p1">
<h2>Featured Products</h2>
<p>Best of the Best</p>
<div class="pro-container">
    <div class="pro">
        <img src="../Public/images/halo 3.jpg" alt="">
        <div class="dec">
            <span>Halo 3</span>
            <h5>First Person Shooter</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$60</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">

        <img src="images/bioshock.jpg" alt="">

        <div class="dec">
            <span>Bioshock </span>
            <h5>First Person Shooter</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$40</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="images/supersmash.jpg" alt="">
        <div class="dec">
            <span>Super Smash brothers</span>
            <h5>Fighting Game</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$70</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="images/zelda.png" alt="">
        <div class="dec">
            <span>Legend of Zelda</span>
            <h5>Action and Adventure Game</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$60</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">

        <img src="images/Gow.jpg" alt="">

        <div class="dec">
            <span>God of War</span>
            <h5>Action and Adventure </h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$60</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">

        <img src="images/Wolf.jpg" alt="">

        <div class="dec">
            <span>Wolf Among Us</span>
            <h5>Graphic adventure Interactive drama</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$30</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="images/mario.jpg" alt="No Image Found">
        <div class="dec">
            <span>Paper Mario</span>
            <h5>Role Playing Games</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$60</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">

        <img src="images/pokemon.jpg" alt="No Image Found">

        <div class="dec">
            <span>Pokemon</span>
            <h5>Role Playing</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$60</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>

        <img src="images/keyboard.jpg" alt="No Image Found">

        <div class="dec">
            <span>Gaming Keyboard</span>
            <h5>Cosmic Byte</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$60</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">

        <img src="images/mouse.jpg" alt="No Image Found">

        <img src="../Public/images/halo 3.jpg" alt="">
        <div class="dec">
            <span>Halo 3</span>
            <h5>First Person Shooter</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$60</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="../Public/images/halo 3.jpg" alt="">
        <div class="dec">
            <span>Halo 3</span>
            <h5>First Person Shooter</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$60</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="../Public/images/halo 3.jpg" alt="">
        <div class="dec">
            <span>Halo 3</span>
            <h5>First Person Shooter</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$60</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
    <div class="pro">
        <img src="../Public/images/halo 3.jpg" alt="No Image Found">

        <div class="dec">
            <span>Gaming Mouse</span>
            <h5>Logictech</h5>
            <div class="star">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <h4>$60</h4>
        </div>
        <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
    </div>
</div>
</section>

<section id="banner" class="section-m1" >
    <h4>Repair Services</h4>
    <h2>Upto <span>60% off</span> - on all Gaming Accessories</h2>
    <button class="normal">Explore more</button>
</section>

<section id="product1" class="section-p1">
    <h2>New Arrivals</h2>
    <p>Take a look</p>
    <div class="pro-container">
        <div class="pro">
            <img src="images/ps4.jpg" alt="">
            <div class="dec">
                <span>playstation 4</span>
                <h5>Console</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$300</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="images/xbox.jpg" alt="">
            <div class="dec">
                <span>Xbox 360</span>
                <h5>console</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$360</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="images/wii.jpg" alt="">
            <div class="dec">
                <span>Ninetendo Wii</span>
                <h5>Console</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$400</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="images/halo2.jpg" alt="">
            <div class="dec">
                <span>Halo 2</span>
                <h5>First Person Shooter</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$50</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="images/bb.jpg" alt="">
            <div class="dec">
                <span>BloodBorne</span>
                <h5>Role Playing</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$60</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="images/persona_5.jpg" alt="">
            <div class="dec">
                <span>Persona 5</span>
                <h5>RPG</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$60</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="images/mk11.jpg" alt="">
            <div class="dec">
                <span>Mortal Kombat</span>
                <h5>Fighting Game</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$60</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="images/kh.jpg" alt="">
            <div class="dec">
                <span>Kingdom Hearts 3</span>
                <h5>Action Adeventure</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$60</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="images/diablo.jpg" alt="">
            <div class="dec">
                <span>Diablo Collection</span>
                <h5>Dungeon Crawler RPG</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$100</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
        <div class="pro">
            <img src="images/headset.jpg" alt="No Image Found">
            <div class="dec">
                <span>Headset</span>
                <h5>Redgear</h5>
                <div class="star">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                </div>
                <h4>$90</h4>
            </div>
            <a href="#"><i class="fa fa-shopping-cart cart"></i></a>
        </div>
    </div>
    </section>

<section id="sm-banner" class="section-p1">
    <div class="banner-box">
        <h4>crazy deals</h4>
        <h2>buy 1 get 1 free</h2>
        <span>Games of the decade</span>
        <button class="white">Learn more</button>
    </div>
    <div class="banner-box banner-box2">
        <h4>crazy deals</h4>
        <h2>buy 1 get 1 free</h2>
        <span>Games of the decade</span>
        <button class="white">Learn more</button>
    </div>
</section>

<section id="banner3">
    <div class="banner-box">
        <h2>SEASONAL SALE</h2>
        <h3>Gaming Mouse-50% OFF</h3>
    </div>
    <div class="banner-box banner-box2">
        <h2>SEASONAL SALE</h2>
        <h3>Gaming Mouse-50% OFF</h3>
    </div>
    <div class="banner-box banner-box3">
        <h2>SEASONAL SALE</h2>
        <h3>Gaming Mouse-50% OFF</h3>
    </div>
</section>

<section id="newsletter" class="section-p1 section-m1" >
    <div class="newstext">
        <h2>Sign Up</h2>
        <p>Get Email updates about <span> Sales</span> and offers </p>
    </div>
    <div class="form">
        <input type="text" placeholder="Enter Your Email">
        <button class="normal">Sign Up</button>
    </div>
</section>
<footer class="section-p1">
    <div class="col" style="width: 300px;">

        <img src="../Public/images/logo.png" class="logo" alt="">

        <h4>Contact</h4>
        <p><strong>Address: </strong> Peelamedu, Coimbatore</p>
        <p><strong>Phone:</strong> +91 9987504325, +91 8748752000</p>
        <p><strong>Working hours:</strong> 9:00 AM to 6:00 PM (Sunday holiday)</p>
        <div class="follow">
            <h4>Follow us</h4>
            <div class="icon">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-pinterest-p"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="col">
        <h4>My Account</h4>
        <a href="#">Sign in</a>
        <a href="#">View cart</a>
        <a href="#">My wishlist</a>
        <a href="#">Track my order</a>
        <a href="#">Help</a>
    </div>
    <div class="col">
        <h4>About</h4>
        <a href="#">About us</a>
        <a href="#">Delivery information</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & conditions</a>
        <a href="#">Contact us</a>
    </div>
    <div class="col install">
        <h4>Install App</h4>
        <div class="row">

            <img src="../Public/images/play.jpg" alt="">
            <img src="../Public/images/app.jpg" alt="">
        </div>
        <p>We accept</p>
        <img src="../Public/images/pay.png" alt="">

    </div>
<div class="copyright">
    <p>Ⓒ 2022, Game store</p>
</div>
</footer>


</section>

<script src="script.js"></script>
</body>
</html>